<div class="description" ng-controller="descriptionController as vm2">

    <div class="background">
        <img src="../public/images/star_wars.jpg">
    </div>

    <div class="poster">
        <img
    </div>

</div>
