<div class="description" ng-controller="descriptionController as vm2">

    <div class="background">
        <img src="../public/images/star_wars.jpg">
    </div>

    <div class="poster">
        <img ng-src="{{vm2.movie_info.poster_path}}">
    </div>

    <div class="name">
        <h3 class="md-title">
            {{vm2.movie_info.title}}
        </h3>
    </div>



</div>
