<!--

	Created by David Luque Quintana
	daviluqui@gmail.com

-->

<!DOCTYPE html>
<html lang="en" ng-app="app">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <meta name="viewport" content="initial-scale=1"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
    <!--styles-->
    <link rel="stylesheet" href="../public/css/styles.css">
    <title>MyMoviesApp</title>
</head>

<body layout="column">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <h1>My Movies List </h1>
    </div>
</md-toolbar>
<div layout="row" flex>

    <md-sidenav class="sidenav" layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-button class="md-accent">Local</md-button>
        <md-button class="md-accent">Button 2</md-button>
    </md-sidenav>

    <div layout="column" flex id="content">
        <md-content class="generalContent" layout="column" flex class="md-padding">
            <!--CONTENIDO WEB-->

            <div ui-view></div>
        </md-content>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Angular Material Dependencies -->
<script src="../node_modules/angular/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>

<!--ANGULAR-->
<script src="../public/js/core.js"></script>
<script src="../public/js/controllers/popular.controller.js"></script>
<script src="../public/js/controllers/description.controller.js"></script>
<script src="../public/js/factories/config.factory.js"></script>
<script src="../public/js/factories/Movie.factory.js"></script>
<script src="../public/js/factories/movies_list.factory.js"></script>

<script src="../public/js/components/film.component/film.component.js"></script>

<!--UI ROUTER-->
<script src="../public/scripts/ui-router.js"></script>
</body>
</html>
