<!--
&lt;!&ndash;

	Created by David Luque Quintana
	daviluqui@gmail.com

&ndash;&gt;

<!DOCTYPE html>
<html lang="en" ng-app="app">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<head>
    <meta name="viewport" content="initial-scale=1"/>
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.css">
    &lt;!&ndash;styles&ndash;&gt;
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/movie.css">

    &lt;!&ndash;bootstrap&ndash;&gt;
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <title>MyMoviesApp</title>
</head>

<body layout="column">
<md-toolbar layout="row">
    <div class="md-toolbar-tools">
        <a href="/"><h1>MyMovieApp </h1></a>
    </div>
</md-toolbar>
<div layout="row" flex>

    <md-sidenav class="sidenav" layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-button class="md-accent" href="/login/facebook">Facebook</md-button>
        <md-button class="md-accent">Button 2</md-button>
    </md-sidenav>

    <div layout="column" flex id="content">
        <md-content class="generalContent" layout="column" flex class="md-padding">
            &lt;!&ndash;CONTENIDO WEB&ndash;&gt;

            <div ui-view></div>
        </md-content>
    </div>
</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

&lt;!&ndash; Angular Material Dependencies &ndash;&gt;
<script src="../node_modules/angular/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc1/angular-material.min.js"></script>

&lt;!&ndash;ANGULAR&ndash;&gt;
<script src="../public/js/core.js"></script>
<script src="../public/js/controllers/popular.controller.js"></script>
<script src="../public/js/controllers/description.controller.js"></script>
<script src="../public/js/factories/Movie.factory.js"></script>
<script src="../public/js/factories/movies_list.factory.js"></script>

<script src="../public/js/components/film.component/film.component.js"></script>

&lt;!&ndash;UI ROUTER&ndash;&gt;
<script src="../public/scripts/ui-router.js"></script>

&lt;!&ndash;BOOTSTRAP&ndash;&gt;
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
-->

<!DOCTYPE html>
<html>
<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../bower_components/Materialize/dist/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>


<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../bower_components/Materialize/dist/js/materialize.min.js"></script>

<!-- ANGULAR -->
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../public/js/core.js"></script>

<!-- ANGULAR CONTROLLERS -->
<script src="../public/js/controllers/popular.controller.js"></script>
<script src="../public/js/controllers/description.controller.js"></script>

<!-- ANGULAR FACTORIES -->
<script src="../public/js/factories/Movie.factory.js"></script>
<script src="../public/js/factories/movies_list.factory.js"></script>

<!-- ANGULAR DIRECTIVES -->
<script src="../public/js/components/film.component/film.component.js"></script>

<!-- ANGULAR UI-ROUTER-->
<script src="../public/scripts/ui-router.js"></script>

</body>
</html>