<html lang="en" ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyMoviesApp</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/movie.css">
    <link rel="stylesheet" href="../public/css/landing.css">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
</head>
<body ng-cloak>

<div class="form_signup">
    <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Registrar">
            <md-content class="md-padding">
                <form action="/signup" method="post">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input type="text" name="email">
                    </md-input-container>

                    <md-input-container class="md-block">
                        <label>Contraseña</label>
                        <input type="text" name="password">
                    </md-input-container>

                    <md-button type="submit" class="md-raised md-primary">Registrar</md-button>
                </form>
            </md-content>
        </md-tab>

        <md-tab label="Iniciar sesión">
            <md-content class="md-padding">
                Hello
            </md-content>
        </md-tab>
    </md-tabs>
</div>


<!-- Angular Material requires Angular.js Libraries -->
<script src="../bower_components/angular/angular.min.js"></script>
<script src="../bower_components/angular-animate/angular-animate.min.js"></script>
<script src="../bower_components/angular-aria/angular-aria.min.js"></script>
<script src="../bower_components/angular-messages/angular-messages.min.js"></script>
<script src="../bower_components/angular-mocks/angular-mocks.js"></script>
<script src="../bower_components/angular-resource/angular-resource.min.js"></script>
<script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>

<!-- Angular Material Library -->
<script src="../bower_components/angular-material/angular-material.min.js"></script>

<!--ANGULAR CONFIG-->
<script src="../public/scripts/app.js"></script>
<script src="../public/scripts/routes.js"></script>


</body>
</html>