<div id="content">
    <div class="popular_movies">
        <div ng-repeat="movie in popularCtrl.popularMovies" class="movie">
            <div class="a_popular_movie">
                <a ui-sref="movie({ movieID : movie.id})">
                    <my-movie></my-movie>
                </a>
            </div>
        </div>
    </div>
</div>