<<<<<<< HEAD
<div id="content">
    <div class="popular_movies" ng-controller="myController as vm">
=======
{{popularCtrl.prueba}}

<div id="content">
    <div class="popular_movies">
>>>>>>> 0c84d918c1f9d48a2b0e2f224c5cb3d6cfc60bfc
        <div ng-repeat="movie in vm.popular" class="movie">
            <div class="a_popular_movie">
                <a ui-sref="movie({ movieID : movie.id})">
                    <ng-film></ng-film>
                </a>
            </div>
        </div>
    </div>
<<<<<<< HEAD
</div>
=======
</div>
>>>>>>> 0c84d918c1f9d48a2b0e2f224c5cb3d6cfc60bfc
