<div class="popular_movies" ng-controller="myController as vm">
    <div ng-repeat="movie in vm.popular" class="movie">
        <div class="a_popular_movie">
            <a ui-sref="movie">
                <img src='https://image.tmdb.org/t/p/w154/{{movie.poster_path}}'>
            </a>
        </div>
    </div>
</div>