<div class="popular_movies" ng-controller="myController as vm">
    <div ng-repeat="movie in vm.popular" class="movie">
        <div class="a_popular_movie">
            <a ui-sref="movie">
                <ng-film></ng-film>
            </a>
        </div>
    </div>
</div>